<button type="button" class="btn btn-secondary btn-lg" routerLink="/principal" routerLinkActive='active'>Regresar</button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Usuario</th>
      <th scope="col">Nombre</th>
      <th scope="col">Rol</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of usuarios">
      <th scope="row">{{ user._id }}</th>
      <td>{{ user.usuario }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.rol }}</td>
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
          <button type="button" class="btn btn-danger">Eliminar</button>
          <button type="button" class="btn btn-warning">Editar</button>
          <button type="button" class="btn btn-success">Ver datos</button>
        </div>
    </tr>
  </tbody>
</table>
